#rooms-page h4{
    text-align: center;
}

#rooms-wrapper{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

#rooms-wrapper .card{
    max-width: 30%;
    margin-right: 1%;
}

#game-page, #rooms-page{
    padding: 5%;
}

#game-page .flex-wrapper{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

#game-page .info-sector{
    width: 30%;
}

#game-page .info-sector h5{
    text-align: center;
}

#game-page .info-sector ul{
    text-align: center;
    list-style: none;
    padding: 3%;
}
#game-page .game-sector{
    width: 50%;
    min-height: 45vh;
    border: 2px solid black;
    display: flex;

    justify-content: center;
    align-content: center;
    align-items: center;
}

#game-page .game-sector .timer-block{
    font-size: 4em;
}

.curr-char{
    text-decoration: underline;
    font-weight: bolder;
    border: 1px solid red;
    min-width: 1em;
    margin: 0;
}

.text-done{
    background-color: lightgreen;
}

.player-finisher{
    color: greenyellow;
}

#game-timer{
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 100;
    font-weight: bolder;
    font-size: 5rem;
    color: red;
}

#commentator-img{
    position: absolute;
    height: 150px;
    bottom: 2%;
    left: 2%;
    z-index: 100;
}

#commentator-text{
    background-color: #d0cfcf;
    position: absolute;
    bottom: 22%;
    font-weight: bolder;
    left: 180px;
    border: 3px solid #4c4c4c;
    z-index: 100;
    padding: 30px;
    border-radius: 50px;
    transition: display 0.3s;
}

